#cloud-config
hostname: ${hostname}
users:
  - name: kairos
    groups: [admin]
    lock_passwd: true
stages:
  initramfs:
  - name: "Repart image"
    layout:
      device:
        label: COS_PERSISTENT
      expand_partition:
        size: 0
    commands:
      - resize2fs /dev/disk/by-label/COS_PERSISTENT
k3s:
  enabled: true
  args:
    - "--server=https://${bootstrap_cp_ip}:6443"
    - "--token=${token}"
    - "--cluster-cidr=10.42.0.0/16"
    - "--flannel-backend=none"
    - "--disable-kube-proxy"
    - "--disable-cloud-controller"
    - "--disable-helm-controller"
    - "--disable-network-policy"
    - "--disable=traefik"
    - "--disable=servicelb"
    - "--disable=local-storage"
    - "--disable=metrics-server"
