#cloud-config
hostname: ${hostname}
users:
  - name: kairos
    groups: [admin]
    lock_passwd: true
stages:
  boot:
  - name: "Kick partition reread + grow fs"
    commands:
      - partx -u /dev/sda
      - resize2fs /dev/disk/by-label/COS_PERSISTENT
k3s-agent:
  enabled: true
  args:
    - "--server=https://${bootstrap_cp_ip}:6443"
    - "--token=${token}"
