#cloud-config
hostname: ${hostname}
users:
  - name: kairos
    groups: [admin]
    lock_passwd: true
stages:
  boot:
  - name: "Grow persistent fs when partition is bigger than fs"
    commands:
      - |
        part=/dev/disk/by-label/COS_PERSISTENT
        partx -u "/dev/$(lsblk -ndo pkname "$part")"
        [ "$(blockdev --getsize64 "$part")" -gt "$(dumpe2fs -h "$part" 2>/dev/null | awk '/^Block size:/{s=$3}/^Block count:/{c=$3}END{print s*c}')" ] && resize2fs "$part"
k3s-agent:
  enabled: true
  args:
    - "--server=https://${bootstrap_cp_ip}:6443"
    - "--token=${token}"
